@charset "UTF-8";
/*CSS Document by RJ Valencia*/

html {
    scroll-behavior: smooth;
}
body {
  margin: 0px; /* always zero out defaul browser margins and padding */
  padding: 0px;
  font-family: 'Farsan';font-size: 21px;
}
p{
    color: #fff;
}
h2, h3{
    color: #A0A8C0;
    text-shadow: 1.5px 1.5px #000
}
li {
    color: #fff;
    list-style: none; /* eliminates bullets */
}
a:link {
	font-weight: bold;
	color: #5C5D72;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #A0A8C0;
}
.container {
  width: 960px; /* static width container always stays at this width no matter what the window size */
  margin: 0 auto;
  overflow: hidden;
}

/* ----------------- NAVIGATION BAR STYLES -------------------*/ 

#navbar{
	position: fixed; /* navbar should always be shown even when page is scrolled */
	top: 0;
	width: 100%;
	height: 54px;
	background-color: #A0A8C0;
}	
/* horizontal menu bars are typically created using a styled unordered list. Here's how! */
ul#menu {
	list-style: none; /* eliminates bullets */
	/* adjust padding top to adjust nav bar vertical position */
	padding-top: 0px;
  position: fixed;
} 
ul#menu li {
	float: left; /* changes list from vertical to horizontal */
	padding-bottom: 10px;
    color: #fff;
} 
ul#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	/* this padding defines the size of the buttons */
	padding: 20px 90px 20px 50px;
    color: #fff;
}
/* change button color when mouse hovers over */
ul#menu li a.button:hover {
	background-color: rgba(160, 168, 192, 0.1);
}

#Splash{
    background: url(images/nature-05.jpg) no-repeat center top fixed;
    background-size: cover;
    height: 1000px;
}
#blur-splash{
  opacity: .6;
  filter: blur(.5px);
}
#Overview{
    background-image: linear-gradient(to bottom, #214473 10%, #6699ff 40%, #214473 90%);
    padding-bottom: 2.3em;
    padding-top: 30px;
}
#Media{
    background: url(images/landscape.jpg) no-repeat center top fixed;
    background-size: cover;
    padding-bottom: 2.3em;
    height: 450px;
}
#Projects{
    background-color: #242426;
}
#Projects h1 {
  color: #f2f2f2
}
#Table{
    background-color: #214473;
    padding-bottom: 2.3em;
    color: #A0A8C0;
}
#Resume{
    background-image: linear-gradient(to bottom, #214473 10%, #6699ff 40%, #214473 90%);
    padding-bottom: 2.3em;
}
#OriginalMusic {
    background: linear-gradient(to bottom, #6699ff 29%, #214473 85%);
    padding-bottom: 2.3em;
}
#Footer{
    background-color: #242426;
}
#Footer ul{
  font-size: 0.9em;
}
#title-page{ 
width: 100%; 
padding-top: 200px; /* provides a lot of space to view the background image */ 
color: #fff; text-align: left;
} 
#title-page h1 { 
font-family: 'Gruppo', cursive;
font-size: 85px; 
text-shadow: 3px 3px #000;
color: #fff
} 
#title-page h2 {
font-family: 'Domine', serif;    
font-size: 2.5em; 
font-style: italic; 
margin: 0 40px; 
text-shadow: 2px 2px #000; 
color: #f2f2f2;
}
#image-lisense{
	border: solid #999933 0px;
	width: 100px;
}
#footer{
	clear: both;
    size: 2em;
}
#size{
  width: 1.7em;
  border: solid #fff 1px;
}
#picture-special{
  border-radius: 3em;
  border: solid #A0A8C0 1px;
  display: block;
    float: right;
    width: 50%;
    margin: 0em 1.5em 1.5em 1.5em;
}
#frankenstein-pic {
	width: 300px;
	float: right;
	margin: 25px;
	border: #000 solid 3px;
	padding: 1px;
}