@charset "UTF-8";
/*Document by RJ Valencia*/

/*GENERAL STYLING ---------------*/
html {
    scroll-behavior: smooth;
}
p {
    text-indent: 50px;
}

body {
    font-family: 'Farsan';font-size: 21px;
    background: linear-gradient(to bottom, #214473 29%, #6699ff 85%);
}

/*DIV STYLES FOR PAGE LAYOUT ---------------*/
.container{
    width: 960px;
	margin: 0 auto;
	border: 3px solid #000;
	background-color: #f2f2f2;
	overflow: hidden;
    padding: 1.2em;
}

.container hr{
    width: 100%;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header p{
    margin: 0.2em;
}
.header hr{
    margin: 0;
}
/* COLUMNS FOR PICTURE ----------------------*/
#profile_pic {
    width: 300px;
	float: right;
	margin: 25px;
	position: relative;
	border: #000 solid 3px;
	padding: 1px;
	
}

/* NAVBAR --------------------------------- */
#navbar{
    top: 2em;
	width: 100%;
	height: 20px;
}
#navbar ul{
    list-style: none;
    padding-top: 0px;
}
#navbar li{
    float: left;
    padding-bottom: 20px;
    padding: 0px 10px 0px 170px;
    color: #4242f4;
}
/* SECTIONS ------------------------ */
.jquery {
 /* Used for anchor for scrolling effect */
}
#projects {}
#resume {}
#originalMusic {}

/* LINK STYLES ---------------------------- */
a:link {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #13374c;
	text-decoration: none;
}
a:hover {
	color: #A0A8C0;
}


/* IMAGE CUSTOMIZATION ---------------------------- */
#image-lisense{
	border: solid #999933 0px;
	width: 100px;
}

#footer_pic {
    width: 120%;
    height: 200px;
	margin: 0 auto;
	border: 3px solid #000;
	border-left: 0;
	float: inherit;
	margin-left: -1.2em; /* will touch very left side */
}
#frankenstein-pic {
	width: 300px;
	float: right;
	margin: 25px;
	position: relative;
	border: #000 solid 3px;
	padding: 1px;
}